@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Princess+Sofia&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

@font-face {
    font-family: 'Android';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
}

/* Variáveis globais */
:root {
    --cor0: #c5edb6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", sans-serif;
    --fonte-android: 'android', cursive;
}

/* Configurações globais */
* {
    margin: 0px;
    padding: 0px;
}



/* Corpo do site */
body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}

a.externo::after {
    content: '\00a0\1F517';
}


/* Cabeçalho */
header {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));

    min-height: 150px;

    text-align: center;
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;

    padding-top: 40px;
    padding-right: 10px;
    padding-left: 10px;
    margin-bottom: 10px;

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.479);
}

header > p {
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: white;

    max-width: 500px;
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;

    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.479);
}


/* Menu */
nav {
    background-color: var(--cor5);
    
    padding: 30px 10px 10px 10px;


    box-shadow: 0px 7px 7px rgba(0, 0, 0, 0.479);
}

nav > a {
    color: var(--cor1);
    font-weight: bold;
    padding: 10px;
    text-decoration: none;
    border-radius: 5px;
    transition-duration: 0.6s;
}

nav > a:hover {
    background-color: var(--cor3);
    color: var(--cor5);
}


/* Conteúdo principal */
main {
    min-width: 300px;
    max-width: 1000px;

    margin: auto;
    margin-bottom: 30px; 
    padding: 30px;

    background-color: white;
    
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
}

main h2 {
    font-family: var(--fonte-android);
    color: var(--cor4);
    font-size: 1.3em;
    background-image: linear-gradient(to right, var(--cor1), transparent);
    padding: 10px;
}

main p {
    margin: 15px 0px;
    text-align: justify;
    text-indent: 28px;
    font-size: 1.1em;
    line-height: 1.4em;
}

main strong {
    color: var(--cor4);    
}

main a {
    text-decoration: none;
    font-weight: bold;
    color: var(--cor4)
}

main a:hover {
    text-decoration: underline;
    color: var(--cor3)
}

main img {
    width: 100%;
}

main img.pequena {
    max-width: 300px;
    display: block;
    margin: auto;
}

div.video {
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));

    margin: 0px -30px 30px -30px;
    padding: 20px;
    padding-bottom: 58.1%; /*configura as margens pretas do vídeo */

    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%; 
}


aside {
    background-color: var(--cor1);
    padding: 15px;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.459);    
}

aside h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px 20px;
    margin: -15px -15px 0px -15px;
    border-radius: 15px 15px 0px 0px;

}

aside ul {
    list-style-type: '\2714\00a0\00a0';
    list-style-position: inside;
    columns: 2;
}



/* Rodapé */
footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
    padding: 6px;
}

footer a {
    font-family: var(--fonte-padrao);
    color: white;
    font-weight: bold;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
    color: var(--cor1);
}